@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;400;500;600;700;800;900&display=swap');
/* ------- Стили для каркаса страницы (основная часть и сайдбар) ------- */
@media screen and (max-width: 1200px) {
    .service-1c .left_block {
        display: none;
    }
}
@media screen and (min-width: 992px) {
    .side_left .service-1c .content-md > .right_block.narrow_Y, .side_left .service-1c .content-md > .right_block.narrow_Y + .left_block, .service-1c .left_block {
        float: left;
    }

    .side_left .service-1c .content-md > .right_block.narrow_Y + .left_block, .service-1c .left_block {
        padding-left: 15px;
    }
}

@media screen and (max-width: 990px) {
    .side_left .service-1c .content-md > .right_block.narrow_Y + .left_block, .service-1c .left_block {
        margin-left: 0 !important;
        margin-right: 0 !important;
    }
}

.service-1c .left_block, .service-1c .right_block {
    font-size: 16px;
    border-radius: 16px;
}

.service-1c .right_block {
    background: #ffffff;
    padding: 40px 34px;
}

.service-1c .left_block .sidearea {
    padding: 24px 14px;
    background: #ffffff;
    border-radius: 16px;
}

.service-1c .left_block .sidearea ul {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding-left: 0px;
    gap: 16px;
    margin-bottom: 0 !important;
}
.service-1c .left_block .sidearea ul li {
    width: 100%;
    padding-bottom: 0;
    margin-bottom: 0;
    padding-left: 0;
    cursor: pointer;
}

.service-1c .left_block .sidearea ul li:before {
    display: none;
    padding-left: 0;
}

.service-1c .left_block .sidearea ul li a {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: 700;
    font-size: 14px;
    line-height: 143%;
    color: #000000;
    gap: 16px;
    transition: 0.3s;
}
.service-1c .left_block .sidearea ul li a:hover {
    color: #00CA89;
}

.service-1c .left_block .sidearea ul li a .sidearea-arrow {
    transform: rotate(180deg);
}

.service-1c .left_block .sidearea ul li.sidearea-active a .sidearea-arrow {
    transform: rotate(0);
}

.service-1c__mobile-wrapper-content {
    padding-right: 0px;
    padding-left: 0px;
}

.advice-block__content a, .service-1c-price-description a {
    cursor: pointer;
    color: #00CA89;
    font-weight: 500;
    line-height: 171%;
}

.service-1c .left_block .sidearea ul li .submenu {
    margin-top: 16px;
    margin-bottom: 0;
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.service-1c .left_block .sidearea ul li .submenu li a {
    font-weight: 500;
    font-size: 12px;
    line-height: 133%;
    color: #000000;
    transition: 0.3s;
}
.service-1c .left_block .sidearea ul li .submenu li a:hover {
    color: #26A47B;
}

.service-1c .left_block .sidearea ul li .submenu li.active a {
    color: #26A47B;
}


@media screen and (max-width: 520px) {
    .service-1c .right_block {
        padding: 16px;
        padding-top: 24px;
        padding-left: 0px;
        padding-right: 0px;
    }
    .service-1c__mobile-wrapper-content {
        padding-right: 16px;
        padding-left: 16px;
    }
}

/* ------- // Стили для каркаса страницы ------- */

/* ------- Заголовок ------- */
.right_block h1.service-1c__title {
    font-weight: 600;
    font-size: 32px;
    line-height: 125% !important;
    color: #000000;
}

h2#h2-0.service-1c__title, .right_block h2.service-1c__title {
    font-weight: 600;
    font-size: 24px;
    line-height: 133%;
    color: #000000;
    margin: 48px 0 16px 0;
}

.right_block h3.service-1c__title {
    font-weight: 700;
    font-size: 18px;
    line-height: 133%;
    color: #000000;
}

@media screen and (max-width: 520px) {
    .right_block h2.service-1c__title {
        font-weight: 600;
        font-size: 19px;
        line-height: 126%;
        color: #000000;
    }
    .right_block h1.service-1c__title {
        margin-top: 0;
        margin-bottom: 24px;
        font-weight: 700;
        font-size: 21px;
        line-height: 114% !important;
        color: #000000;
    }

    .right_block h2#h2-0.service-1c__title {
        font-weight: 600;
        font-size: 19px;
        line-height: 126%;
        margin: 48px 0 16px 0;
        color: #000000;
    }

    .right_block h3.service-1c__title {
        font-weight: 600;
        font-size: 19px;
        line-height: 126%;
        margin: 48px 0 16px 0;
        
    }
}

/* ------- // Заголовок ------- */
/* ------- Главное изображение ------- */
.service-1c__main-photo {
    display: block;
    width: 100%;
    border-radius: 8px;
    overflow: hidden;
}

.service-1c__main-photo img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

@media screen and (max-width: 400px) {
    .service-1c__main-photo {
        height: 145px;
    }
}

/* ------- //Главное изображение ------- */
/* ------- Содержание --------- */
.service-1c__content {
    background: #F2F2F2;
    padding: 32px 40px;
    border-radius: 8px;
    margin-top: 32px;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.service-1c__content-title {
    font-weight: 700;
    font-size: 18px;
    line-height: 133%;
    color: #000000;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.right_block ul.service-1c__content-list {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    gap: 8px;
    padding-left: 0;
    margin-bottom: 0;
}

.right_block ul li.service-1c__item {
    padding-left: 0;
    margin-bottom: 0;
}

.service-1c__item::before {
    display: none;
}

.right_block a.service-1c__link {
    font-weight: 500;
    font-size: 14px;
    line-height: 171%;
    color: #000000;
    transition: 0.3s;
}

.right_block a.service-1c__link:hover, .right_block .service-1c__item.active > a.service-1c__link {
    color: #00CA89;
}

.service-1c__content-list .service-1c__content-list .service-1c__item {
    padding: 8px 24px;
}

.service-1c__content-list .service-1c__content-list .service-1c__link {
    font-size: 12px;
}

.service-1c__content-toggle {
    display: none;
    cursor: pointer;
    transform: rotate(180deg);
    transition: 0.3s;
}

.service-1c__content-title.active .service-1c__content-toggle {
    transform: rotate(0deg);
}

@media screen and (max-width: 520px) {
    .service-1c__content {
        padding: 16px;
        margin-top: 24px;
    }

    .service-1c__content-title {
        font-weight: 600;
        font-size: 19px;
        line-height: 126%;
    }

    .service-1c__content-toggle {
        display: inline-block;
    }

    .service-1c__content-list .service-1c__content-list .service-1c__item {
        padding: 8px;
    }
}

/* ------- //Содержание --------- */
/* ----- Баннер 1С:Фреш бесплатно на 30 дней! ----- */
.service-1c__banner--blue-gradient {
    background: linear-gradient(90deg, #5a1fe6 0%, #1d0063 90.18%);
}

.service-1c__banner--purple-gradient {
    background: linear-gradient(90deg, #ae00d1 0%, #59006b 100%);
}

.service-1c__banner {
    border-radius: 16px;
    padding: 24px;
    display: flex;
    gap: 24px;
    margin-top: 40px;
}
.service-1c__banner.service-1c__banner--purple-gradient {
    margin-top: 16px;
}
.service-1c__banner-image {
    height: 145px;
    padding: 0 10px;
}

.service-1c__banner-image img {
    width: 100%;
    height: 100% !important;
    object-fit: contain;
}

.service-1c__banner-column {
    width: calc(50% - 12px);
}
@media screen and (max-width: 520px) {
    .service-1c__banner-column {
        width: 100%;
    }
}
.service-1c__banner-column--between {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.service-1c__banner-title {
    font-weight: 700;
    font-size: 18px;
    line-height: 133%;
    color: #FFFFFF;
}

.service-1c__description {
    font-weight: 500;
    font-size: 12px;
    line-height: 133%;
    color: #FFFFFF;
}
.service-1c__banner--blue-gradient .service-1c__description {
    margin-top: 8px;
    margin-bottom: 16px;
}
.right_block ul.service-1c__banner-list {
    display: flex;
    flex-direction: column;
    gap: 4px;
    list-style-type: none;
    padding-left: 0;
    margin-top: 24px;
}

.right_block .service-1c__banner-list li {
    margin-bottom: 0;
    color: #ffffff;
    font-weight: 500;
    font-size: 12px;
    line-height: 133%;
    padding-left: 25px;
}

.right_block .service-1c__banner-list li:before {
    content: "";
    display: inline-block;
    width: 20px;
    height: 20px;
    background: url(/verstka/images/Check-white.svg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    top: unset;
    padding-right: 10px;
    margin-right: 8px;
}
.service-1c__form {
    margin-top: 53px;
}
.service-1c__form-field {
    position: relative;
    display: flex;
    flex-direction: column;
}

.service-1c__form-field:not(:last-child) {
    margin-bottom: 8px;
}

.service-1c__form-label {
    font-weight: 500;
    font-size: 12px;
    line-height: 133%;
    color: #ffffff;
}

.service-1c__form-input {
    width: 100%;
    border: 1px solid #ffffff;
    border-radius: 4px;
    padding: 4px 8px 4px 5px;
    background: transparent;
    color: #ffffff;
}

.service-1c__form-input::placeholder {
    font-weight: 500;
    font-size: 14px;
    line-height: 171%;
    text-align: justify;
    color: #ffffff;
}

.service-1c__form-input-wrapper {
    position: relative;
}

.service-1c__form-input-required {
    position: absolute;
    top: 0;
    left: -20px;
    line-height: 5px;
}

.service-1c__form-btn {
    width: 100%;
}

.service-1c__form-checkbox {
    position: relative;
    display: flex;
    align-items: flex-start;
    gap: 8px;
    margin-bottom: 16px;
    margin-top: 16px;
}
.service-1c__form-checkbox-input {
    position: absolute;
    top: 0; left: 0;
    width: 1px;
    height: 1px;
    appearance: none;
    opacity: 0;
}
.service-1c__form-checkbox-label  {
    font-weight: 500;
    font-size: 12px;
    line-height: 133%;
    color: #ffffff;
}
.service-1c__form-checkbox-label a {
    font-weight: 700 !important;

}
.service-1c__form-check {
    width: 20px;
    heighT: 20px;
    padding: 5px;
    flex-shrink: 0;
    border-radius: 4px;
    border: 1px solid #ffffff;
}
.service-1c__form-checkbox-input:checked + .service-1c__form-check {
    background-color: #00CA89;
    border-color: #00CA89;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url("images/form-check.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 17px 13px;
}
@media screen and (max-width: 520px) {
    .service-1c__form {
        margin-top: 16px;
    }
    .right_block ul.service-1c__banner-list {
        margin-bottom: 0 !important;
    }
    .service-1c__banner {
        flex-direction: column;
        align-items: center;
        margin-top: 48px;
        margin-bottom: 48px;
    }

    .service-1c__banner-title {
        font-weight: 600;
        font-size: 19px;
        line-height: 126%;
    }


    .service-1c__description {
        font-weight: 400;
        font-size: 12px;
        line-height: 133%;
    }

    .service-1c__banner-button {
        width: 100%;
    }
    
    .right_block .service-1c__banner-list li {
        font-weight: 400;
        font-size: 12px;
        line-height: 133%;
        color: #ffffff;
    }
}

/* ----- //Баннер 1С:Фреш бесплатно на 30 дней! ----- */
/* ----- Список ----- */
.right_block ul.service-1c__list {
    padding-left: 0 !important;
    list-style-type: none;
}

.right_block ul.service-1c__list li {
    margin-bottom: 0;
    padding-left: 32px;
    color: #000000;
    font-weight: 400;
    font-size: 14px;
    line-height: 171%;
}
.right_block ul.service-1c__list li:not(:last-of-type) {
    margin-bottom: 12px;
}
.right_block ul.service-1c__list li::before {
    content: "";
    position: absolute;
    display: block;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    margin-right: 12px;
    overflow: hidden;
    background: url("images/check-circle.svg");
    background-position: center;
    background-size: contain;
}
ul.service-1c__list li span {
    font-weight: 700;
    line-height: 143%;
}
ul.service-1c__list li a {
    cursor: pointer;
    color: #00CA89;
    font-weight: 500;
    line-height: 171%;
}
@media screen and (max-width: 520px) {
    ul.service-1c__list li span {
        font-size: 16px;
    }
}
/* ----- //Список ----- */
/* ----- Полезные публикации ----- */
.service-1c-publications {
    margin-top: 40px;
}
.service-1c-publications__title {
    font-weight: 700;
    font-size: 14px;
    line-height: 143%;
    color: #000000;
}
.service-1c-publications__items {
    width: 100%;
    padding-bottom: 10px;
    display: flex;
    align-items: center;
    gap: 8px;
    justify-content: space-between;
    margin-top: 16px;
}
.service-1c-publications__item {
    min-width: 261px;
    width: calc(33.33% - 10px);
    height: 216px;
    padding: 24px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 15px;
    border-radius: 10px;
    border: 1px solid #C9CAD1;
    flex-shrink: 0;
}
.right_block .service-1c-publications__content {
    font-weight: 500;
    font-size: 14px;
    line-height: 171%;
    color: #000000;
}
.right_block .service-1c-publications__button {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #00CA89;
    border-radius: 4px;
    padding: 7px 16px 9px 16px;
    max-width: 111px;
    max-height: 32px;
    font-weight: 500;
    font-size: 13px;
    color: #00CA89;
    transition: 0.3s;
}

.right_block .service-1c-publications__button:hover {
    color: #ffffff;
    background: #00CA89;
}

.slick-initialized .slick-slide.service-1c-publications__item
{
    display: flex;
    justify-content: space-between;
    width: 261px !important;
    height: 216px !important;
}

.slick-initialized .service-1c-publications__item.slick-slide:not(:last-of-type) {
    margin-right: 16px;
}
@media screen and (max-width: 1200px) {
    .service-1c-publications__item {
        width: calc(33.33% - 8px);
        min-width: unset;
    }
}
@media screen and (max-width: 778px) {
    .service-1c-publications__items {
        align-items: inherit;
    }
    .service-1c-publications__item {
        height: auto;
    }
}
@media screen and (max-width: 668px) {
    .service-1c-publications__items {
        flex-wrap: wrap;
    }
    .service-1c-publications__item {
        width: 100%;
        min-width: unset;
        height: auto;
    } 
}
@media screen and (max-width: 520px) {
    .service-1c-publications {
        margin-top: 48px;
    }
    .service-1c-publications, .service-1c-program {
        padding-left: 16px;
        margin-top: 48px;
        margin-bottom: 0;
    }
    .service-1c-publications__items {
        margin-top: 16px;
        padding-bottom: 0;
    }
    .service-1c-publications__title {
        font-weight: 700;
        font-size: 16px;
        line-height: 150%;
    }
    .service-1c-publications__content {
        font-weight: 400;
        font-size: 14px;
        line-height: 143%;
        color: #000000;
    }
}
/* ----- //Полезные публикации ----- */

/* ----- Программы ----- */
.service-1c-program {
    margin-bottom: 24px;
}
.service-1c-program__title {
    font-weight: 700;
    font-size: 14px;
    line-height: 143%;
    color: #000000;
}
.service-1c-program__items {
    width: 100%;
    padding-bottom: 10px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    gap: 16px;
    justify-content: space-between;
    margin-top: 16px;
}
.service-1c-program__item {
    height: 190px;
    padding: 24px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-shrink: 0;
    gap: 15px;
    border-radius: 10px;
    border: 1px solid #C9CAD1;
}
.service-1c-program__item-title {
    font-weight: 700;
    font-size: 14px;
    line-height: 143%;
    color: #000000;
    margin-bottom: 8px;
}
.service-1c-program__content {
    font-weight: 500;
    color: #000000;
    font-size: 12px;
    line-height: 133%;
}
.right_block .service-1c-program__button {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #00CA89;
    border-radius: 4px;
    padding: 7px 16px 9px 16px;
    max-width: 111px;
    max-height: 32px;
    font-weight: 500;
    font-size: 13px;
    color: #00CA89;
    transition: 0.3s;
}

.right_block .service-1c-program__button:hover {
    color: #ffffff;
    background: #00CA89;
}

.slick-initialized .slick-slide.service-1c-program__item
{
    display: flex;
    justify-content: space-between;
    width: 261px !important;
    height: 216px !important;
}

.slick-initialized .service-1c-program__item.slick-slide:not(:last-of-type) {
    margin-right: 16px;
}
@media screen and (max-width: 1135px) {
    .service-1c-program__items {
        align-items: inherit;
    }
    .service-1c-program__item {
        height: auto;
    }
}
@media screen and (max-width: 890px) {
    /*.service-1c-program__item {*/
    /*    width: calc(33.33% - 8px);*/
    /*}*/
}
@media screen and (max-width: 668px) {
    .service-1c-program__items {
        display: flex;
        flex-direction: column;
        gap: 10px;
    }
    .service-1c-program__item {
        width: 100%;
        height: auto;
    }
}
@media screen and (max-width: 520px) {
    .service-1c-program {
        padding-left: 16px;
    }
    .service-1c-program__items {
        margin-top: 16px;
    }
    .service-1c-program__title {
        font-weight: 700;
        font-size: 16px;
        line-height: 150%;
    }
    .service-1c-program__content {
        font-weight: 400;
        font-size: 14px;
        line-height: 143%;
        color: #000000;
    }
    .slick-initialized .slick-slide.service-1c-program__item 
    {
        height: 279px !important;
    }
}
/* ----- //Программы ----- */

/* ----- Стили для slick slider ----- */
.slick-slider
{
    position: relative;
    display: block;
    box-sizing: border-box;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-touch-callout: none;
    -khtml-user-select: none;
    -ms-touch-action: pan-y;
    touch-action: pan-y;
    -webkit-tap-highlight-color: transparent;
}

.slick-list
{
    position: relative;
    display: block;
    overflow: hidden;
    margin: 0;
    padding: 0;
}
.slick-list:focus
{
    outline: none;
}
.slick-list.dragging
{
    cursor: pointer;
    cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list
{
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}

.slick-track
{
    position: relative;
    top: 0;
    left: 0;

    display: block;
    margin-left: auto;
    margin-right: auto;
}
.slick-track:before,
.slick-track:after
{
    display: table;

    content: '';
}
.slick-track:after
{
    clear: both;
}
.slick-loading .slick-track
{
    visibility: hidden;
}

.slick-slide
{
    display: none;
    float: left;

    height: 100%;
    min-height: 1px;
}
[dir='rtl'] .slick-slide
{
    float: right;
}
.slick-slide img
{
    display: block;
}
.slick-slide.slick-loading img
{
    display: none;
}
.slick-slide.dragging img
{
    pointer-events: none;
}

.slick-loading .slick-slide
{
    visibility: hidden;
}
.slick-vertical .slick-slide
{
    display: block;

    height: auto;

    border: 1px solid transparent;
}
.slick-arrow.slick-hidden {
    display: none;
}
/* ----- //Стили для slick slider ----- */

/* ----------Баннер Совет------------*/
.advice-block {
    background: #DDF8E5;
    border-radius: 8px;
    padding: 32px 40px;
}
.advice-block__title {
    display: flex;
    align-items: center;
    gap: 4px;
    margin-bottom: 8px;
}
.right_block .advice-block__title p {
    margin: 0;
    padding: 0;
    font-weight: 700;
    font-size: 18px;
    line-height: 133%;
    color: #000000;
}
.right_block .advice-block a {
    font-weight: 500;
}
.advice-block__icon {
    width: 24px;
    height: 24px;
}
.advice-block__icon img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}
.advice-block__content {
    margin-bottom: 24px;
}
.advice-block .btn {
    margin-bottom: 0;
}
@media screen and (max-width: 520px) {
    .advice-block {
        padding: 16px;
    }
}
/* ----------//Баннер Совет----------*/

/* --------- Таблица ------------*/
.service-1c__table {
    display: block;
}

.service-1c__table table {
    width: 100%;
    border-spacing: 0 24px; /* Расстояние между ячейками */
    border-collapse: collapse;
}

.service-1c__table table tbody tr {
    border-bottom: 1px solid #E3E7EC;
}

.service-1c__table table th, .service-1c__table table td {
    position: relative;
    text-align: left;
    font-size: 12px;
    line-height: 1.5; /* Для текста в 2 строки */
    color: #000000;
}
.service-1c__table table td {
    padding: 16px;
    width: 25%;
}
.service-1c__table table thead tr {
    border-radius: 4px;
    background: #f2f2f2;
}
.service-1c__table table thead th {
    padding: 8px 16px;
    font-weight: 700;
    font-size: 12px;
    line-height: 133%;
    color: #000000;
}

.service-1c__table table td {
    background-color: #fff;
}

.service-1c__table table td:not(:first-child), .service-1c__table table th:not(:first-child) {
    text-align: center;
}

.service-1c__icon {
    display: inline-block;
    width: 20px;
    height: 20px;
    object-fit: contain;
}
.service-1c__icon img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}
.service-1c__table table thead tr th.popular span.popular-sticker {
    content: "";
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 0;
    left: 50%;
    transform: translate(-50%, -100%);
    height: 20px;
    width: 100%;
    background: #00CA89;
    color: #ffffff;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.service-1c__table table tfoot th {
    padding-left: 16px;
    padding-top: 16px;
    font-weight: 700;
    font-size: 12px;
    line-height: 133%;
    color: #000000;
    border-radius: 4px;
}
.service-1c__table table tfoot td {
    padding: 0;
    padding-top: 16px;
}
.service-1c__table .btn {
    margin: 0 !important;
    width: auto;
}
.service-1c__table table tfoot td .title {
    font-weight: 700;
    font-size: 14px;
    line-height: 143%;
    text-align: center;
    color: #000000;
}
.service-1c__table table tfoot td .subtitle {
    color: #000000;
    font-weight: 500;
    font-size: 12px;
    line-height: 133%
}
.service-1c__prices.service-1c__table {
    margin-top: 45px;
}
/* Адаптивность */
@media screen and (max-width: 600px) {
    .service-1c__table table th, .service-1c__table table td {
        padding: 8px 12px; /* Снижаем отступы на меньших экранах */
    }
}
/* -------- Цены -------- */
.service-1c__prices--mobile {
    display: none;
    /*padding-left: 16px;*/
}
.slick-initialized.service-1c__prices--mobile .slick-dots, .slick-initialized.service-1c-program__items .slick-dots, .slick-initialized.service-1c-publications__items .slick-dots {
    margin-bottom: 0 !important;
}
.slick-initialized.service-1c__prices--mobile .slick-slide.service-1c__prices-item {
    width: 263px;
    margin-right: 16px;
    box-shadow: 0 20px 36px 0 rgba(0, 0, 0, 0);
    transition: 0.3s ease-in-out;
}
.slick-initialized.service-1c__prices--mobile .service-1c__prices-item.slick-slide.slick-current.slick-active {
    box-shadow: 0 20px 36px 0 rgba(0, 0, 0, 0.15);
}
.slick-initialized.service-1c__prices--mobile .slick-list {
    padding-left: 16px;
    overflow-y: visible;
    overflow-x: visible;
}
.service-1c__prices-item {
    position: relative;
    border-radius: 16px;
    padding: 32px 16px 24px 16px;
    background: #FFFFFF;
    border: 1px solid transparent;
}
.service-1c__prices-item.popular {
    background: #DDF8E5;
    border-color: #00CA89;
}
.service-1c__prices-item.popular .popular-sticker {
    position: absolute;
    top: 0;
    left: 24px;
    border-radius: 0 0 4px 4px;
    padding: 2px 6px;
    min-width: 94px;
    height: 20px;
    background: #00CA89;
    font-weight: 500;
    font-size: 12px;
    line-height: 133%;
    color: #ffffff;
}
.service-1c__prices-title {
    font-weight: 600;
    font-size: 19px;
    line-height: 126%;
    color: #000000;
}
.service-1c__prices-list {
    list-style: none;
}
.service-1c__prices-list li {
    padding-left: 26px !important;
    margin-bottom: 12px !important;
    color: #000000;
}
.right_block ul.service-1c__prices-list li::before {
    content: "";
    display: inline-block;
    width: 20px;
    height: 20px;
    background: url("images/Check.svg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    top: unset;
    padding-right: 10px;
    margin-right: 8px;
}
.service-1c__prices-list li:last-child {
    margin-bottom: 0 !important;
}

tr:first-child th:first-child {
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}

tr:first-child th:last-child {
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}

.service-1c__prices-footer {
    margin-top: 24px;
}
.service-1c__prices-footer p {
    font-weight: 500;
    font-size: 12px;
    line-height: 133%;
    color: #757B8A;
}

.service-1c__prices-footer p:last-child {
    margin-bottom: 0;
}

.right_block .service-1c__prices-footer a {
    font-weight: 500;
}
.service-1c-price-description {
    margin-top: 24px;
}
.right_block .service-1c-price-description a {
    font-weight: 500;
    cursor: pointer;
}
@media screen and (max-width: 520px) {
    .service-1c__prices-footer {
        margin-top: 0;
    }
    .service-1c__prices--mobile {
        display: block;
        margin-top: 24px;
    }
    .service-1c__prices {
        display: none;
    }
    .service-1c-price-description {
        margin-top: 0;
        padding-left: 16px;
        padding-right: 16px;
    }
    .slick-initialized.service-1c__prices--mobile .slick-dots, .slick-initialized.service-1c-program__items .slick-dots, .slick-initialized.service-1c-publications__items .slick-dots {
        padding-left: 16px;
        padding-right: 16px;
    }
}

/* ------------- Аккордеон ------------ */
.service-1c__accordion {
    width: 100%;
    margin-top: 24px;
    margin-bottom: 24px;
}

.service-1c__accordion-item {
    background-color: #fff;
    border-radius: 16px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    overflow: hidden;
    transition: 0.3 ease-in-out;
    padding: 24px;
}

.service-1c__accordion-item.active {
    background-color: #e0f7e9;
    border-color: #4caf50;
}


.service-1c__accordion-header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    cursor: pointer;
    font-weight: 700;
    font-size: 14px;
    line-height: 171%;
    letter-spacing: 0.07em;
    text-transform: uppercase;
    color: #000;
}

.service-1c__accordion-item .service-1c__accordion-icon {
    transition: transform 0.3s;
    transform: rotate(0deg) !important;
}

.service-1c__accordion-item.active .service-1c__accordion-icon {
    transform: rotate(180deg) !important;
}

.service-1c__accordion-content {
    display: none;
    margin-top: 16px;
}
.service-1c__accordion-content ul li {
    color: #000000 !important;
    margin-bottom: 10px !important;
    font-weight: 500 !important;
}
.service-1c__accordion-content ul li::before {
    background: #09e099 !important;;
}
.service-1c__accordion-content p {
    margin: 0;
    font-size: 14px;
    line-height: 1.5;
}

.service-1c__accordion-content a {
    font-weight: 500 !important;
}

@media screen and (max-width: 520px) {
    .service-1c__accordion-item {
        padding: 16px;
    }
    .service-1c__accordion {
        margin-top: 16px;
        margin-bottom: 16px;
    }
}
/* ------------- //Аккордеон ------------ */
/* -------- Преимущества (две плашки) -------- */
.service-1c__features {
    display: flex;
    justify-content: space-between;
    gap: 8px;
    margin-bottom: 32px;
}
.service-1c__features-item {
    width: calc(50% - 4px);
    background: #DDF8E5;
    border-radius: 16px;
    padding: 24px;
    display: flex;
    align-items: center;
    gap: 24px;
}
.service-1c__features-image {
    width: 107px;
    height: 80px;
    flex-shrink: 0;
}
.service-1c__features-image img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}
.right_block .service-1c__features-text {
    font-weight: 400;
    font-size: 19px;
    line-height: 168%;
    color: #000000;
    margin-bottom: 0;
    
}
@media screen and (max-width: 1080px) {
    .service-1c__features-item {
        flex-direction: column;
        gap: 8px;
    }
    .right_block .service-1c__features-text {
        text-align: center;
    }
}
@media screen and (max-width: 625px) {

    .service-1c__features-item {
        padding: 16px;
    }
    .right_block .service-1c__features-text {
        word-wrap: break-word; /* Разрешает перенести длинные слова */
        word-break: break-word; /* Переносит слова, которые не умещаются */
    }
    .service-1c__features {
        margin-bottom: 16px;
    }
}
/* -------- //Преимущества (две плашки) -------- */
/* ------- Оставить заявку на обслуживание ------ */
.service-1c-application {
    background: url("images/form-bg.png"), linear-gradient(146deg, rgba(242, 242, 242, 0.82) 5%, #e0e0e0 31.51%, rgba(224, 224, 224) 100%);
    background-position: right;
    background-repeat: no-repeat;
    background-size: contain;
    padding: 64px 90px;
}

.service-1c-application__wrapper {
    position: relative;
    max-width: 449px;
}
.service-1c-application__title {
    font-weight: 600;
    font-size: 32px;
    line-height: 125%;
    color: #000000;
}
.service-1c-application__subtitle {
    font-weight: 500;
    font-size: 14px;
    line-height: 171%;
    color: #757B8A;
}

.service-1c-application__form {
    margin-top: 24px;
}

.service-1c-application__form .service-1c__form-label {
    color: #000000;
}

.service-1c-application__form .service-1c__form-input {
    border: 1px solid #757B8A;
    color: #000000;
}

.service-1c-application__form .service-1c__form-input::placeholder {
    font-weight: 500;
    font-size: 14px;
    line-height: 171%;
    text-align: justify;
    color: #999EAB;
}

.service-1c-application__form .service-1c__form-checkbox-label  {
    color: #000000;
}
.service-1c-application__form .service-1c__form-check {
    border: 1px solid #C9CAD1;
    background: #ffffff;
}

.service-1c-application__form .service-1c__form-input-required {
    left: -10px;
}

@media screen and (max-width: 980px) {
    .service-1c-application {
        background: linear-gradient(320deg, #dedede 35.51%, rgba(230, 230, 230, 0) 100%);
    }
}

@media screen and (max-width: 520px) {
    .service-1c-application {
        height: 790px;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        padding: 0;
        background: url("images/form-bg-mobile.png");
        background-position: top;
        background-size: 100% 100%;
        background-repeat: no-repeat;
    }
    .service-1c-application__wrapper {
        padding: 16px;
        padding-bottom: 32px;
    }
    .service-1c-application__wrapper::before {
        content: "";
        display: block;
        width: 100%;
        height: 100%;
        position: absolute;
    }
}
.right_block ul li:before {
    left: 0;
}
.service-1c__banner--purple-gradient .service-1c__form-checkbox-label a {
    color: #fff !important;
}
.service-1c-application__wrapper .service-1c__form-checkbox-label a {
    color: #000;
}
.footer__menu-block-title.active {
    color: #00ca89;
}
.container1 {
    margin-top: 30px;
}
@media screen and (max-width: 400px) {
    .container1 {
        margin-top: 15px;
    } 
}
.service-1c__prices-footer__price-link {
    color: #00ca89;
    font-weight: 700;
}
