<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        Fresh Food
    </title>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap"
        rel="stylesheet">
    <link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="style.css">
</head>

<body>
    <!-- МОБИЛЬНАЯ НАВИГАЦИЯ -->
<div class="mb-nav">
    <div class="mb-move-item"></div>
    <div class="mb-nav-item active">
        <a href="#home">
            <i class="bx bxs-home"></i>
        </a>
    </div>
    <div class="mb-nav-item">
        <a href="#about">
            <i class='bx bxs-wink-smile'></i>
        </a>
    </div>
    <div class="mb-nav-item">
        <a href="#food-menu-section">
            <i class='bx bxs-food-menu'></i>
        </a>
    </div>
    <div class="mb-nav-item">
        <a href="#testimonial">
            <i class='bx bxs-comment-detail'></i>
        </a>
    </div>
</div>
<!-- КОНЕЦ МОБИЛЬНОЙ НАВИГАЦИИ -->

<!-- КНОПКА "НАВЕРХ" -->
<a href="#home" class="back-to-top">
    <i class="bx bxs-to-top"></i>
</a>
<!-- КОНЕЦ КНОПКИ "НАВЕРХ" -->

<!-- ВЕРХНЯЯ НАВИГАЦИЯ -->
<div class="nav">
    <div class="menu-wrap">
        <a href="#home">
            <div class="logo">
                Freshfood
            </div>
        </a>
        <div class="menu h-xs">
            <a href="#home">
                <div class="menu-item active">
                    Главная
                </div>
            </a>
            <a href="#about">
                <div class="menu-item">
                    О нас
                </div>
            </a>
            <a href="#food-menu-section">
                <div class="menu-item">
                    Меню
                </div>
            </a>
            <a href="#testimonial">
                <div class="menu-item">
                    Отзывы
                </div>
            </a>
        </div>
        <div class="right-menu">
            <div class="cart-btn">
                <i class='bx bx-cart-alt'></i>
            </div>
        </div>
    </div>
</div>
    <!-- КОНЕЦ ВЕРХНЯЯ НАВИГАЦИЯ -->
    <!-- СЕКЦИЯ "ГЛАВНАЯ" -->
<section id="home" class="fullheight align-items-center bg-img bg-img-fixed"
style="background-image: url(assets/brooke-lark-08bOYnH_r_E-unsplash.jpg);">
<div class="container">
    <div class="row">
        <div class="col-6 col-xs-12">
            <div class="slogan">
                <h1 class="left-to-right play-on-scroll">
                    Freshfood
                </h1>
                <p class="left-to-right play-on-scroll delay-2">
                    Готовим из натуральных ингредиентов, без вредных добавок и консервантов.
Попробуйте здоровое питание без хлопот – выберите своё идеальное меню уже сегодня!

🚀 Быстрая доставка | 🌿 Только свежие продукты | 💚 Рацион на любой вкус

📦 Закажите сейчас и получите скидку на первый заказ!
                </p>
                <div class="left-to-right play-on-scroll delay-4">
                    <button>
                        Заказать сейчас
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
</section>
<!-- КОНЕЦ СЕКЦИИ "ГЛАВНАЯ" -->
    <!-- СЕКЦИЯ "О НАС" -->
<section class="about fullheight align-items-center" id="about">
    <div class="container">
        <div class="row">
            <div class="col-7 h-xs">
                <img src="assets/dan-gold-4_jhDO54BYg-unsplash.jpg" alt=""
                    class="fullwidth left-to-right play-on-scroll">
            </div>
            <div class="col-5 col-xs-12 align-items-center">
                <div class="about-slogan right-to-left play-on-scroll">
                    <h3>
                        <span class="primary-color">Мы</span> создаем <span class="primary-color">вкусные</span>
                        воспоминания для <span class="primary-color">вас</span>
                    </h3>
                    <p>
                        Каждое блюдо — это не просто еда, а забота о вашем здоровье и удовольствии. Мы тщательно отбираем свежие ингредиенты, чтобы каждый приём пищи радовал вкусом, ароматом и пользой. Доверьте нам своё питание — и наслаждайтесь моментами, которые хочется запомнить!
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- КОНЕЦ СЕКЦИИ "О НАС" -->

<!-- СЕКЦИЯ "МЕНЮ" -->
<section class="align-items-center bg-img bg-img-fixed" id="food-menu-section"
    style="background-image: url(assets/katherine-chase-4MMK78S7eyk-unsplash.jpg);">
    <div class="container">
        <div class="food-menu">
            <h1>
                Что <span class="primary-color">вы</span> будете есть сегодня?
            </h1>
            <p>
                Откройте для себя вкус здорового питания! 🍏 Выбирайте из сбалансированных блюд, приготовленных из свежих и натуральных ингредиентов. Ваше идеальное меню — всего в одном клике! 🚀✨
            </p>
            <div class="food-category">
                <div class="zoom play-on-scroll">
                    <button class="active" data-food-type="all">
                        Всё меню
                    </button>
                </div>
                <div class="zoom play-on-scroll delay-2">
                    <button data-food-type="salad">
                        Салаты
                    </button>
                </div>
                <div class="zoom play-on-scroll delay-4">
                    <button data-food-type="lorem">
                        Горячие блюда
                    </button>
                </div>
                <div class="zoom play-on-scroll delay-6">
                    <button data-food-type="ipsum">
                        Завтраки
                    </button>
                </div>
                <div class="zoom play-on-scroll delay-8">
                    <button data-food-type="dolor">
                        Десерты без сахара
                    </button>
                </div>
            </div>

            <div class="food-item-wrap all">
                <div class="food-item salad-type">
                    <div class="item-wrap bottom-up play-on-scroll">
                        <div class="item-img">
                            <div class="img-holder bg-img"
                                style="background-image: url(assets/anh-nguyen-kcA-c3f_3FE-unsplash.jpg);"></div>
                        </div>
                        <div class="item-info">
                            <div>
                                <h3>
                                    Lorem ipsum
                                </h3>
                                <span>
                                    120$
                                </span>
                            </div>
                            <div class="cart-btn">
                                <i class="bx bx-cart-alt"></i>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="food-item lorem-type">
                    <div class="item-wrap bottom-up play-on-scroll">
                        <div class="item-img">
                            <div class="img-holder bg-img"
                                style="background-image: url('assets/sina-piryae-bBzjWthTqb8-unsplash.jpg');"></div>
                        </div>
                        <div class="item-info">
                            <div>
                                <h3>
                                    Lorem ipsum
                                </h3>
                                <span>
                                    120$
                                </span>
                            </div>
                            <div class="cart-btn">
                                <i class='bx bx-cart-alt'></i>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="food-item ipsum-type">
                    <div class="item-wrap bottom-up play-on-scroll">
                        <div class="item-img">
                            <div class="img-holder bg-img"
                                style="background-image: url('assets/jonathan-farber-OCNqOLeCwOc-unsplash.jpg');">
                            </div>
                        </div>
                        <div class="item-info">
                            <div>
                                <h3>
                                    Lorem ipsum
                                </h3>
                                <span>
                                    120$
                                </span>
                            </div>
                            <div class="cart-btn">
                                <i class='bx bx-cart-alt'></i>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="food-item lorem-type">
                    <div class="item-wrap bottom-up play-on-scroll">
                        <div class="item-img">
                            <div class="img-holder bg-img"
                                style="background-image: url('assets/sina-piryae-bBzjWthTqb8-unsplash.jpg');"></div>
                        </div>
                        <div class="item-info">
                            <div>
                                <h3>
                                    Lorem ipsum
                                </h3>
                                <span>
                                    120$
                                </span>
                            </div>
                            <div class="cart-btn">
                                <i class='bx bx-cart-alt'></i>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="food-item dolor-type">
                    <div class="item-wrap bottom-up play-on-scroll">
                        <div class="item-img">
                            <div class="img-holder bg-img"
                                style="background-image: url('assets/carly-jayne-Lv174o7fn7Y-unsplash.jpg');"></div>
                        </div>
                        <div class="item-info">
                            <div>
                                <h3>
                                    Lorem ipsum
                                </h3>
                                <span>
                                    120$
                                </span>
                            </div>
                            <div class="cart-btn">
                                <i class='bx bx-cart-alt'></i>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="food-item salad-type">
                    <div class="item-wrap bottom-up play-on-scroll">
                        <div class="item-img">
                            <div class="img-holder bg-img"
                                style="background-image: url('assets/anh-nguyen-kcA-c3f_3FE-unsplash.jpg');"></div>
                        </div>
                        <div class="item-info">
                            <div>
                                <h3>
                                    Lorem ipsum
                                </h3>
                                <span>
                                    120$
                                </span>
                            </div>
                            <div class="cart-btn">
                                <i class='bx bx-cart-alt'></i>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="food-item lorem-type">
                    <div class="item-wrap bottom-up play-on-scroll">
                        <div class="item-img">
                            <div class="img-holder bg-img"
                                style="background-image: url('assets/sina-piryae-bBzjWthTqb8-unsplash.jpg');"></div>
                        </div>
                        <div class="item-info">
                            <div>
                                <h3>
                                    Lorem ipsum
                                </h3>
                                <span>
                                    120$
                                </span>
                            </div>
                            <div class="cart-btn">
                                <i class='bx bx-cart-alt'></i>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="food-item dolor-type">
                    <div class="item-wrap bottom-up play-on-scroll">
                        <div class="item-img">
                            <div class="img-holder bg-img"
                                style="background-image: url('assets/carly-jayne-Lv174o7fn7Y-unsplash.jpg');"></div>
                        </div>
                        <div class="item-info">
                            <div>
                                <h3>
                                    Lorem ipsum
                                </h3>
                                <span>
                                    120$
                                </span>
                            </div>
                            <div class="cart-btn">
                                <i class='bx bx-cart-alt'></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- КОНЕЦ СЕКЦИИ "МЕНЮ" -->
   <!-- СЕКЦИЯ "ОТЗЫВЫ" -->
<section id="testimonial">
    <div class="container">
        <div class="row">
            <div class="col-4 col-xs-12">
                <div class="review-wrap zoom play-on-scroll delay-2">
                    <div class="review-content">
                        <p>
                            Давно искала сервис с действительно вкусной и полезной едой! Все блюда свежие, порции сытные, а доставка всегда вовремя. Теперь питаюсь правильно без лишних хлопот!
                        </p>
                        <div class="review-img bg-img"
                            style="background-image: url(assets/close-up-portrait-cute-young-woman-holding-textbook-colored-pencils-posing-studio-isolated-pink_176532-9674.jpg);">
                        </div>
                    </div>
                    <div class="review-info">
                        <h3>
                            Анна
                        </h3>
                        <div class="rating">
                            <i class="bx bxs-star"></i>
                            <i class="bx bxs-star"></i>
                            <i class="bx bxs-star"></i>
                            <i class="bx bxs-star"></i>
                            <i class="bx bxs-star"></i>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-4 col-xs-12">
                <div class="zoom play-on-scroll">
                    <div class="review-wrap active">
                        <div class="review-content">
                            <p>
                                Обожаю их десерты без сахара! Никогда не думала, что полезные сладости могут быть такими вкусными. Заказываю постоянно, и каждый раз – настоящее наслаждение!
                            </p>
                            <div class="review-img bg-img"
                                style="background-image: url(assets/michael-dam-mEZ3PoFGs_k-unsplash.jpg);">
                            </div>
                        </div>
                        <div class="review-info">
                            <h3>
                                Екатерина
                            </h3>
                            <div class="rating">
                                <i class='bx bxs-star'></i>
                                <i class='bx bxs-star'></i>
                                <i class='bx bxs-star'></i>
                                <i class='bx bxs-star'></i>
                                <i class='bx bxs-star'></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-4 col-xs-12">
                <div class="review-wrap zoom play-on-scroll delay-4">
                    <div class="review-content">
                        <p>
                            Идеальное решение для тех, кто хочет следить за питанием, но не тратить время на готовку. Особенно понравились горячие блюда – вкусно, как дома, и при этом полезно!
                        </p>
                        <div class="review-img bg-img"
                            style="background-image: url(assets/portrait-happy-young-man_171337-21716.jpg);">
                        </div>
                    </div>
                    <div class="review-info">
                        <h3>
                            Максим
                        </h3>
                        <div class="rating">
                            <i class='bx bxs-star'></i>
                            <i class='bx bxs-star'></i>
                            <i class='bx bxs-star'></i>
                            <i class='bx bxs-star'></i>
                            <i class='bx bxs-star'></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- КОНЕЦ СЕКЦИИ "ОТЗЫВЫ" -->
    <!-- FOOTER SECTION -->
    <section class="footer bg-img" style="background: url(assets/nordwood-themes-pYWrdKO5ksI-unsplash.jpg), rgba(0, 0, 0, 1)">
        <div class="container">
            <div class="row">
                <div class="col-6 col-xs-12">
                    <h1>
                        Freshfood
                    </h1>
                    <br>
                    <p>Мы готовим для вас свежие и полезные блюда каждый день, чтобы правильное питание было не только полезным, но и вкусным! Доверьте нам заботу о вашем рационе и наслаждайтесь каждой ложкой.</p>
                    <br>
                    <p>📧 Email: info@freshfood.com</p>
                    <p>📞 Телефон: +7 900 123 45 67</p>
                    <p>🌍 Веб-сайт: www.freshfood.com</p>
                </div>
                <div class="col-2 col-xs-12">
                    <h1>
                        О нас
                    </h1>
                    <br>
                    <p>
                        <a href="#">
                            Наши шеф-повара
                        </a>
                    </p>
                    <p>
                        <a href="#">
                            Меню
                        </a>
                    </p>
                    <p>
                        <a href="#">
                            Отзывы клиентов
                        </a>
                    </p>
                    <p>
                        <a href="#">
                            Контакты
                        </a>
                    </p>
                </div>
                <div class="col-4 col-xs-12">
                    <h1>
                        Подписка и соцсети
                    </h1>
                    <br>
                    <p>Подпишитесь на нашу рассылку, чтобы первыми узнавать о новых блюдах, акциях и полезных советах по правильному питанию. Будьте в курсе свежих новостей и вдохновляйтесь здоровым образом жизни!</p>
                    <div class="input-group">
                        <input type="text" placeholder="Введите ваш email">
                        <button>
                            Подписаться
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- END FOOTER SECTION -->

    <script src="index.js"></script>
</body>

</html>