.wrapper_inner.production-page {
    padding-bottom: 24px;
}
@media screen and (max-width: 400px) {
    .wrapper_inner.production-page {
        padding-bottom: 20px;
    }
}
.production-section-title {
    font-family: Ubuntu, sans-serif;
    font-weight: 700;
    font-size: 22px;
    line-height: 127%;
    text-transform: uppercase;
    color: #383838;
    margin-bottom: 11px;
    text-align: left;
    color: #383838;
}
@media screen and (max-width: 520px) {
    .production-section-title {
        font-family: Ubuntu;
        font-size: 16px;
        font-weight: 500;
        line-height: 20px;
        text-align: left;
        text-transform: none;
    }
}
/* Баннер */
.production-banner {
    width: 100%;
    height: 200px;
    background-image: url('images/banner.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    margin-bottom: 11px;
}

.production-banner h1 {
    font-family: 'Ubuntu', sans-serif;
    font-weight: 700;
    font-size: 36px;
    text-transform: uppercase;
    text-align: left;
    line-height: normal;
    color: #1D2029;
    margin-top: 19px;
    margin-left: 20px;
}

@media (max-width: 768px) {
    .production-banner {
        background-image: url('images/banner-mobile.jpg');
        margin-bottom: 20px;
    }

    .production-banner h1 {
        font-size: 28px;
        margin-top: 13px;
        margin-left: 20px;
    }
}
/* //Баннер */
/* Список */
.production-list {
    list-style: none;
    padding: 0;
    margin: 0;
    position: relative;
}

.right_block ul.production-list {
    margin-bottom: 22px;
}

@media screen and (max-width: 400px) {
    .right_block ul.production-list {
        margin-bottom: 0px;
    }
}

.production-list li {
    position: relative;
    padding-left: 20px;
    margin-bottom: 11px;
    font-family: 'Ubuntu', sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 143%;
    color: #575757;
}

.production-list li::before {
    content: '';
    position: absolute;
    top: 5px;
    left: 0;
    transform: translateY(0);
    width: 10px;
    height: 10px;
    background: url('data:image/svg+xml;utf8,<svg width="10" height="10" viewBox="0 0 10 10" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M0 2L5 0L10 2V8L5 10L0 8V2Z" fill="%23DC2823"/></svg>') no-repeat;
}

@media (max-width: 768px) {
    .production-list li {
        font-size: 14px;
        line-height: 143%;
        color: #575757;
    }
}
@media screen and (max-width: 400px) {
    .production-list li:last-of-type {
        margin-bottom: 10px;
    }
}
/* //Список */
/* Преимущества */
.production-advantages {
    display: flex;
    justify-content: space-between;
    margin-top: 22px;
    box-sizing: border-box;
}

.production-advantages__card {
    flex: 1 1 calc(33.333% - 20px);
    padding: 15px;
    background: linear-gradient(15.27deg, #D13A4C -3.36%, #8D2B1D 45.44%);

    display: flex;
    flex-direction: column;
    height: 160px;
    box-sizing: border-box;
}

.production-advantages__card + .production-advantages__card {
    margin-left: 20px;
}

.production-advantages__card-header {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.production-advantages__card-header .production-advantages__title {
    font-family: Ubuntu;
    font-weight: 700;
    font-size: 24px;
    line-height: 80%;
    color: #FFFFFF;
    margin-left: 10px;
}

.production-advantages__card-text {
    font-family: Ubuntu;
    font-weight: 400;
    font-size: 12px;
    line-height: 167%;
    color: #ffffff;
    margin-bottom: 0;
}

.production-advantages__image {
    width: 40px;
    height: 40px;
    object-fit: contain;
}

@media (max-width: 1400px) and (min-width: 687px) {
    .production-advantages {
        justify-content: space-between;
    }

    .production-advantages__card {
        flex: 1 1 calc(33.333% - 15px);
        height: auto;
    }

    .production-advantages__card + .production-advantages__card {
        margin-left: 15px;
    }
}

@media (max-width: 687px) {
    .production-advantages {
        flex-direction: column;
        margin-top: 10px;
    }

    .production-advantages__card {
        flex: 1 1 100%;
        height: auto;
        margin-bottom: 10px;
    }

    .production-advantages__card + .production-advantages__card {
        margin-left: 0;
    }
    
    .production-advantages__card-header .production-advantages__title {
        font-size: 25px;
        line-height: 20px;
    }
    
    .production-advantages__card-text {
        font-size: 12px;
        line-height: 167%;
    }
}
@media screen and (max-width: 400px) {
    .production-advantages__card {
        padding: 10px;
        margin-bottom: 5px;
    }
    .production-advantages__card:last-of-type {
        margin-bottom: 0px;
    }
    .production-advantages__card-header {
        margin-bottom: 5px;
    }
}
/* //Преимущества */
/* Стоимость */
.production-pricing {
    width: 100%;
    margin-top: 22px;
}

.production-pricing__title {
    font-family: Ubuntu, sans-serif;
    font-weight: 700;
    font-size: 22px;
    line-height: 127%;
    text-transform: uppercase;
    color: #383838;
    margin-bottom: 11px;
}

.production-pricing__table-wrapper {
    position: relative;
    overflow-x: auto;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.production-pricing__table-wrapper::-webkit-scrollbar {
    display: none;
}

.production-pricing__table {
    display: grid;
    grid-template-columns: 50% 50%;
    width: 100%;
}

.production-pricing__row {
    display: contents;
}

.production-pricing__cell {
    padding: 12px;
    border-bottom: 1px solid #EAEBEC;
}

.production-pricing__cell--left {
    font-family: 'Helvetica';
    font-weight: 700;
    font-size: 14px;
    color: #595753;
    background-color: #fff;
}

.production-pricing__cell--right {
    font-family: Ubuntu, sans-serif;
    font-weight: 400;
    font-size: 14px;
    color: #888888;
    background-color: #FAFAFB;
}

.production-pricing__cell--span2 {
    grid-row: span 2;
}

.production-pricing__row:nth-child(odd) .production-pricing__cell--right, .production-pricing__row:nth-child(odd):not(:first-of-type) .production-pricing__cell--left {
    background-color: #FAFAFB;
}

.production-pricing__row:nth-child(even) .production-pricing__cell--right {
    background-color: #ffffff;
}

@media screen and (max-width: 400px) {
    .production-pricing {
        margin-top: 21px;
    }
    .production-pricing__table {
        position: absolute;
        grid-template-columns: 336px 252px;
    }  
    .production-pricing__cell {
        font-size: 12px;
        line-height: 13px;
        padding-bottom: 14px;
    }
}
.production-pricing__text {
    color: #575757;
    margin-top: 11px;
    margin-bottom: 11px;
}
/* //Стоимость */
/* Проект ландшафтного дизайна */
.production-project {
    margin-top: 22px;
}

@media (max-width: 768px) {
    .production-project {
        margin-top: 0;
    }
}

.production-project__text {
    font-family: Ubuntu, sans-serif;
    font-weight: 400;
    font-size: 13px;
    line-height: 154%;
    color: #575757;
    margin-bottom: 16px;
}

.production-project__list {
    font-family: Ubuntu, sans-serif;
    font-weight: 400;
    font-size: 13px;
    line-height: 154%;
    color: #575757;
    margin-left: 20px;
    margin-bottom: 0px !important;
}

.production-project__list li {
    position: relative;
    margin-bottom: 8px;
    color: #575757;
    padding-left: 20px;
    
}
.production-project__list li::before {
    color: #575757;
    position: absolute;
    left: 3px;
}
@media screen and (max-width: 400px) {
    .production-project__list, .production-project__list li, .production-project__list li::before, .production-project__text, .production-pricing__text {
        color: #888888
    }
    .production-project .production-project__text:last-of-type {
        margin-bottom: 11px;
    }
}
/* //Проект ландшафтного дизайна */
/* Объекты */
.production-objects {
    margin-top: 18px;
}
.production-objects__container {
    display: flex;
}
.production-objects__item {
    flex: 1 0 50%;
}
.production-objects__item img {
    width: 100%;
    border-radius: 2px;
    object-fit: cover;
}
@media screen and (max-width: 400px) {
    .production-objects {
        margin-top: 11px;
    }
    .production-objects__item {
        height: 160px;
    }
    .production-objects__item img {
        height: 100%;
    }
}
/* //Объекты */

/* Сравните мощение */
.production-compare {
    margin-top: 18px;
}
.production-compare__container {
    display: flex;
    border-radius: 5px;
    overflow: hidden;
}
.production-compare__item {
    position: relative;
    flex: 1 0 50%;
    height: 400px;
}
.production-compare__caption {
    position: absolute;
    top: 10px;
    left: 10px;
    background: #BE202E;
    padding: 10px 15px;
    font-family: Ubuntu;
    font-weight: 500;
    font-size: 20px;
    line-height: 100%;
    color: #FFFFFF;
}
.production-compare__item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
@media screen and (max-width: 400px) {
    .production-compare {
        margin-top: 11px;
    }
    .production-compare__item {
        height: 240px;
    }
    .production-compare__item img {
        height: 100%;
    }
    .production-compare__caption {
        font-size: 14px;
        padding: 4px 7px;
    }
}
.breadcrumbs span {
    color: #b6b5b5 !important;
}
/* //Сравните мощение */
