<!DOCTYPE html>
<html lang="ru" class="page">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <meta name="theme-color" content="#111111">
  <title>FinVision Analytics</title>
  <link rel="preload" href="fonts/PublicSansRegular.woff2" as="font" type="font/woff2" crossorigin>
  <link rel="preload" href="fonts/LibreBaskervilleRegular.woff2" as="font" type="font/woff2" crossorigin>
  <link rel="stylesheet" href="css/vendor.css">
  <link rel="stylesheet" href="css/main.css">
  <script defer src="js/main.js"></script>
</head>

<body class="page__body">
  <div class="site-container">
    <header class="header header--position">
  <div class="container flex header__container">
    <a class="logo">
      FinVision Analytics
    </a>
    <nav class="nav flex" title="Main navigation" data-menu>
      <ul class="list-reset nav__list flex">
        <li class="nav__item"><a href="#" class="nav__link">Главная</a></li>
        <li class="nav__item"><a href="#" class="nav__link">Услуги</a></li>
        <li class="nav__item"><a href="#" class="nav__link">О нас</a></li>
        <li class="nav__item"><a href="#" class="nav__link">Кейсы</a></li>
        <li class="nav__item"><a href="#" class="nav__link">Блог</a></li>
      </ul>
      <a href="#" class="nav__link">Войти</a>
    </nav>
    <button class="burger" aria-label="Открыть меню" aria-expanded="false" data-burger>
      <span class="burger__line"></span>
    </button>
  </div>
</header>

    <main class="main">
      <section class="hero">
  <div class="hero__container container grid">
    <div class="hero__content">
      <h1 class="hero__title">
        Мы помогаем компаниям оптимизировать финансовые потоки 
      </h1>
      <p class="hero__descr">
        Разрабатываем индивидуальные инвестиционные стратегии и предоставляем аналитические отчеты для принятия обоснованных решений. Наши услуги также включают аудит финансовой отчетности, оценку рисков и внедрение цифровых решений для автоматизации финансовых процессов.
      </p>
      <a href="#" class="btn hero__btn">Наши проекты</a>
    </div>
  </div>
  <div class="container hero__bottom-container">
    <div class="hero__bottom">
      <h2 class="hero__subtitle">Нам доверяют в:</h2>
      <ul class="list-reset hero__list grid">
        <li class="hero__item">
          <a href="#" class="hero__link">
            Финансовом прогнозировании
          </a>
        </li>
        <li class="hero__item">
          <a href="#" class="hero__link">
            Управлении рисками
          </a>
        </li>
        <li class="hero__item">
          <a href="#" class="hero__link">
            Инвестиционных стратегиях
          </a>
        </li>
        <li class="hero__item">
          <a href="#" class="hero__link">
            Оптимизации бизнеса
          </a>
        </li>
        <li class="hero__item">
          <a href="#" class="hero__link">
            Налоговом консультировании
          </a>
        </li>
        <li class="hero__item">
          <a href="#" class="hero__link">
            Цифровой трансформации
          </a>
        </li>
      </ul>
    </div>
  </div>
</section>

      <section class="steps">
  <div class="container">
    <h2 class="steps__title">
      Мы — консалтинговая компания, которая сотрудничает с бизнесом и государственными организациями, чтобы улучшить их финансовую стратегию, оптимизировать процессы и добиться устойчивого роста. Наша работа строится на трех простых шагах:
    </h2>
    <ul class="list-reset steps__list flex">
      <li class="steps__item">
        <p class="steps__descr">
          Анализ и диагностика
        </p>
      </li>
      <li class="steps__item steps__item--line" aria-hidden="true"></li>
      <li class="steps__item">
        <p class="steps__descr">
          Разработка решений
        </p>
      </li>
      <li class="steps__item steps__item--line" aria-hidden="true"></li>
      <li class="steps__item">
        <p class="steps__descr">
          Внедрение и поддержка
        </p>
      </li>
    </ul>
  </div>
</section>

      <section class="approach">
  <div class="approach__top">
    <div class="container grid">
      <div class="approach__left">
        <h2 class="approach__title">Успех, ориентированный на людей.</h2>
        <p class="approach__descr">
          Наш подход основан на понимании потребностей и целей наших клиентов. Мы стремимся к тому, чтобы каждый проект не только приносил результаты, но и укреплял доверие, создавая долгосрочные партнерские отношения.
        </p>
        <h2 class="approach__title">Наш подход:</h2>
        <p class="approach__descr">
          Мы начинаем с того, что внимательно слушаем и анализируем уникальные задачи каждого клиента. Вместе мы разрабатываем решения, которые не только эффективны, но и учитывают индивидуальные особенности бизнеса. Наша цель — помочь вам достичь успеха, обеспечивая прозрачность, надежность и поддержку на каждом этапе сотрудничества.
        </p>
        <button class="btn-reset btn approach__btn">Получить консультацию</button>
      </div>
      <div class="approach__right">
        <img src="img/approach-1.jpg" srcset="img/approach-1.jpg" alt="people" loading="lazy" width="235" height="266" class="approach__image">
        <img src="img/approach-2.jpg" srcset="img/approach-2.jpg" alt="people" loading="lazy" width="317" height="262" class="approach__image">
      </div>
    </div>
  </div>
  <div class="approach__bottom">
    <div class="container">
      <ul class="list-reset approach__list grid">
        <li class="approach__item">
          <a href="#" class="approach__link">
            Капитал Стратегии
          </a>
        </li>
        <li class="approach__item">
          <a href="#" class="approach__link">
            ИнвестЛаб
          </a>
        </li>
        <li class="approach__item">
          <a href="#" class="approach__link">
            ФинГоризонт
          </a>
        </li>
        <li class="approach__item">
          <a href="#" class="approach__link">
            КапиталЭксперт
          </a>
        </li>
        <li class="approach__item">
          <a href="#" class="approach__link">
            Т-Инвест
          </a>
        </li>
        <li class="approach__item">
          <a href="#" class="approach__link">
            ПрофитКонсалтинг
          </a>
        </li>
      </ul>
    </div>
  </div>
</section>

      <section class="info">
  <div class="info__content">
    <div class="info__text">
      <h2 class="info__title">Ваш успех начинается здесь.</h2>
      <p class="info__descr">
        Мы не просто консультанты — мы партнеры, которые помогают вашему бизнесу расти, оптимизировать процессы и достигать новых высот. Наши решения основаны на глубоком анализе, инновационных подходах и многолетнем опыте. <br>
        Готовы изменить будущее вашего бизнеса? <br>
        Свяжитесь с нами сегодня и получите индивидуальное решение для ваших задач.
      </p>
      <a href="#" class="btn hero__btn mt-2">Связаться с нами</a>
    </div>
  </div>
</section>

    

      <div class="graphics">
        <img class="graphics" src="img/graphics.png" srcset="img/graphics_2x.png 2x" alt="" aria-hidden="true">
      </div>
      <section class="information">
  <div class="container grid">
    <div class="information__text">
      <h2 class="information__title">
        Превращаем данные в решения, а идеи — в результат.
      </h2>
    </div>
    <ul class="list-reset information__list">
      <li class="information__item">
        <h3 class="information__subtitle">Для бизнеса</h3>
        <p class="information__descr">
          Мы помогаем компаниям анализировать финансовые потоки, оптимизировать расходы и увеличивать прибыль. Наши решения позволяют принимать обоснованные решения на основе данных.
        </p>
      </li>
      <li class="information__item">
        <h3 class="information__subtitle">Для инвесторов</h3>
        <p class="information__descr">
          Разрабатываем индивидуальные инвестиционные стратегии, оцениваем риски и находим перспективные возможности для роста вашего капитала.
        </p>
      </li>
      <li class="information__item">
        <h3 class="information__subtitle">Для руководителей</h3>
        <p class="information__descr">
          Предоставляем инструменты для стратегического планирования, прогнозирования и управления изменениями. Мы помогаем ставить амбициозные цели и достигать их.
        </p>
      </li>
      <li class="information__item">
        <h3 class="information__subtitle">Для стартапов и предпринимателей</h3>
        <p class="information__descr">
          Создаем дорожные карты для запуска и масштабирования бизнеса, помогаем привлекать финансирование и строить устойчивые бизнес-модели.
        </p>
      </li>
    </ul>
  </div>
</section>

      <section class="press">
  <div class="container">
    <div class="press__top">
      <h2 class="press__title">Отзывы</h2>
      <a href="#" class="btn press__link">Все отзывы</a>
    </div>
    <ul class="list-reset press__list grid">
      <li class="press__item">
        <article class="press-card">
          <div class="press-card__top">
            <div class="press-card__author">Антон, предприниматель</div>
            <time class="press-card__date" datetime="2023-12-03">03.12.23</time>
          </div>
          <h3 class="press-card__title">
            <a href="#" class="press-card__link">«FinVision Analytics помогла нам полностью пересмотреть финансовую стратегию. Благодаря их рекомендациям мы сократили издержки на 20% и увеличили рентабельность. Очень доволен качеством анализа и подходом к решению задач!»</a>
          </h3>
        </article>
      </li>
      <li class="press__item">
        <article class="press-card">
          <div class="press-card__top">
            <div class="press-card__author">Алина, финансовый директор</div>
            <time class="press-card__date" datetime="2023-12-03">03.12.23</time>
          </div>
          <h3 class="press-card__title">
            <a href="#" class="press-card__link">«Работа с FinVision Analytics — это всегда четкость, глубокая аналитика и практические рекомендации. Они помогли нам оптимизировать налоговую нагрузку и улучшить cash flow. Рекомендую как надежного партнера!»</a>
          </h3>
        </article>
      </li>
      <li class="press__item">
        <article class="press-card">
          <div class="press-card__top">
            <div class="press-card__author">Иван, частный инвестор</div>
            <time class="press-card__date" datetime="2023-12-03">03.12.23</time>
          </div>
          <h3 class="press-card__title">
            <a href="#" class="press-card__link">«Я давно искал консультантов, которые помогут мне диверсифицировать портфель. FinVision Analytics предложили несколько стратегий, которые уже приносят стабильный доход. Очень благодарен за их экспертизу!»</a>
          </h3>
        </article>
      </li>
      <li class="press__item">
        <article class="press-card">
          <div class="press-card__top">
            <div class="press-card__author">Ян, руководитель сети розничных магазинов</div>
            <time class="press-card__date" datetime="2023-12-03">03.12.23</time>
          </div>
          <h3 class="press-card__title">
            <a href="#" class="press-card__link">«Спасибо команде FinVision Analytics за помощь в автоматизации финансовых процессов. Теперь мы экономим время и ресурсы, а отчеты формируются в разы быстрее. Отдельно хочу отметить их внимательность к деталям!»</a>
          </h3>
        </article>
      </li>
      <li class="press__item">
        <article class="press-card">
          <div class="press-card__top">
            <div class="press-card__author">Отзыв от основателя благотворительного фонда</div>
            <time class="press-card__date" datetime="2023-12-03">03.12.23</time>
          </div>
          <h3 class="press-card__title">
            <a href="#" class="press-card__link">«Мы обратились в FinVision Analytics за помощью в управлении финансами фонда. Они не только предложили прозрачную систему учета, но и помогли привлечь дополнительные средства. Очень довольны сотрудничеством!»</a>
          </h3>
        </article>
      </li>
      <li class="press__item">
        <article class="press-card">
          <div class="press-card__top">
            <div class="press-card__author">Антон Иванович, владелец стартапа</div>
            <time class="press-card__date" datetime="2023-12-03">03.12.23</time>
          </div>
          <h3 class="press-card__title">
            <a href="#" class="press-card__link">«Мы обратились в FinVision Analytics на этапе запуска проекта. Команда не только помогла сформировать бизнес-план, но и привлекла инвестиции. Без их поддержки мы бы не справились. Спасибо за профессионализм и вовлеченность!»</a>
          </h3>
        </article>
      </li>
    </ul>
  </div>
</section>

    </main>
    <footer class="footer">
      <div class="footer__top">
        <div class="container grid">
          <div class="footer__column">
            <h2 class="footer__title">Компания</h2>
            <ul class="list-reset footer__list">
              <li class="footer__item">
                <a href="#" class="footer__link">О нас</a>
              </li>
              <li class="footer__item">
                <a href="#" class="footer__link">Команда</a>
              </li>
              <li class="footer__item">
                <a href="#" class="footer__link">Клиенты</a>
              </li>
              <li class="footer__item">
                <a href="#" class="footer__link">Карьера</a>
              </li>
              <li class="footer__item">
                <a href="#" class="footer__link">Блог</a>
              </li>
              <li class="footer__item">
                <a href="#" class="footer__link">Пресса</a>
              </li>
              <li class="footer__item">
                <a href="#" class="footer__link">Контакты</a>
              </li>
            </ul>
          </div>
          <div class="footer__column">
            <h2 class="footer__title">Услуги</h2>
            <ul class="list-reset footer__list">
              <li class="footer__item">
                <a href="#" class="footer__link">Финансовый консалтинг</a>
              </li>
              <li class="footer__item">
                <a href="#" class="footer__link">Инвестиционные стратегии</a>
              </li>
              <li class="footer__item">
                <a href="#" class="footer__link">Оптимизация бизнеса</a>
              </li>
              <li class="footer__item">
                <a href="#" class="footer__link">Аудит и налоги</a>
              </li>
              <li class="footer__item">
                <a href="#" class="footer__link">Цифровая трансформация</a>
              </li>
              <li class="footer__item">
                <a href="#" class="footer__link">Анализ рисков</a>
              </li>
            </ul>
          </div>
          <div class="footer__column">
            <h2 class="footer__title">Регионы</h2>
            <ul class="list-reset footer__list">
              <li class="footer__item">
                <a href="#" class="footer__link">Москва</a>
              </li>
              <li class="footer__item">
                <a href="#" class="footer__link">Санкт-Петербург</a>
              </li>
              <li class="footer__item">
                <a href="#" class="footer__link">Екатеринбург</a>
              </li>
              <li class="footer__item">
                <a href="#" class="footer__link">Новосибирск</a>
              </li>
              <li class="footer__item">
                <a href="#" class="footer__link">Казань</a>
              </li>
              <li class="footer__item">
                <a href="#" class="footer__link">Краснодар</a>
              </li>
            </ul>
          </div>
          <div class="footer__column">
            <h2 class="footer__title">Связь с нами</h2>
            <ul class="list-reset footer__list">
              <li class="footer__item">
                <a href="#" class="footer__link">Телефон: +7 (XXX) XXX-XX-XX</a>
              </li>
              <li class="footer__item">
                <a href="#" class="footer__link">Email: info@finvision.ru</a>
              </li>
              <li class="footer__item">
                <a href="#" class="footer__link">Telegram</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="footer__bottom">
        <div class="container footer__bottom-container">
         
          <div class="footer__text">
            <ul class="footer__sublist list-reset">
              <li class="footer__sublist-item">
                <a href="#" class="footer__sublist-link">Пользовательское соглашение</a>
              </li>
              <li class="footer__sublist-item">
                <a href="#" class="footer__sublist-link">Политика конфиденциальности</a>
              </li>
              <li class="footer__sublist-item">
                <a href="#" class="footer__sublist-link">Раскрытие информации</a>
              </li>
            </ul>
            <div class="footer__bottom-text">
              <div class="footer__copy">© 2023 FinVision Analytics</div>
              <div class="footer__rights">Все права защищены.</div>
            </div>
          </div>
        </div>
      </div>
    </footer>

  </div>
</body>

</html>